absl-py
aiofiles
aiosqlite
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
astunparse
asyncio
attrs
bcrypt
certifi
cffi
charset-normalizer
click
contourpy
cycler
DateTime
ecdsa
fastapi

flatbuffers
fonttools
gast
gevent
google-pasta
greenlet
grpcio
h11
h5py
httptools
idna
itsdangerous
jax
jaxlib
Jinja2
joblib
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml-dtypes
MouseInfo
mypy
mypy-extensions
namex
numpy
opencv-contrib-python
opencv-python
opt_einsum
optree
packaging
pandas
passlib
pillow
protobuf
pwdlib
pyasn1
PyAutoGUI
pycparser
pydantic
pydantic-settings
pydantic_core
PyGetWindow
Pygments
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
python-dotenv
python-jose
python-multipart
python3-xlib
pytweening
pytz
PyYAML
requests
rich
rsa
scikit-learn
scipy
six
sniffio
sounddevice
SQLAlchemy
starlette
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
uvicorn
uvloop
watchfiles
websocket
websockets
Werkzeug
wrapt
zope.event
zope.interface
